configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus";
    terminal: "/usr/bin/alacritty";
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
}

@theme "~/.config/theme-switcher/current/rofi-theme.rasi"
